.App {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edisonEditorContainer {
  width: 100%;
  min-height: 200px;
  border: 2px solid #999;
}

.edisonEditorContainer figure {
  margin: 0;
  padding: 0;
}

.edisonEditorContainer blockquote:before,
.edisonEditorContainer blockquote:after {
  content: "";
  display: block;
  clear: both;
}

.controls-buttons {
  height: 30px;
  width: 100%;
  display: flex;
}

.controls-button-item {
  height: 30px;
  width: 30px;
  flex: 0;
  cursor: pointer;
}

.controls-button-item svg {
  fill: #999;
}

.controls-button-item.selected svg {
  fill: #000000;
}
.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: silver;
  pointer-events: none;
  z-index: -10000;
}
