figure {
  margin: 0;
  padding: 0;
}

blockquote:before,
blockquote:after {
  content: "";
  display: block;
  clear: both;
}

blockquote {
  margin: 0px 0px 0px 0.8ex;
  border-left: 1px solid rgb(204, 204, 204);
  padding-left: 1ex;
  white-space: normal;
  word-break: break-all;
}

table {
  white-space: normal;
  word-break: break-all;
  max-width: 100%;
}

a {
  color: #0097ff;
}

.edison-indent-1 {
  margin-left: 2em;
}

.edison-indent-2 {
  margin-left: 4em;
}

.edison-indent-3 {
  margin-left: 6em;
}

.edison-indent-4 {
  margin-left: 8em;
}

.edison-indent-5 {
  margin-left: 10em;
}

.edison-indent-6 {
  margin-left: 12em;
}
