figure {
  margin: 0;
  padding: 0;
}

blockquote:before,
blockquote:after {
  content: "";
  display: block;
  clear: both;
}

.edison-indent-1 {
  padding-left: 2em;
}

.edison-indent-2 {
  padding-left: 4em;
}

.edison-indent-3 {
  padding-left: 6em;
}

.edison-indent-4 {
  padding-left: 8em;
}

.edison-indent-5 {
  padding-left: 10em;
}

.edison-indent-6 {
  padding-left: 12em;
}

ul li,
ol li {
  list-style-position: inside;
}

ul li > div,
ol li > div {
  display: inline-block;
  vertical-align: top;
}
